<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="res_config_settings_view_form" model="ir.ui.view">
        <field name="name">res.config.settings.view.form.inherit.okr</field>
        <field name="model">res.config.settings</field>
        <field name="priority" eval="5"/>
        <field name="inherit_id" ref="base.res_config_settings_view_form"/>
        <field name="arch" type="xml">
            <xpath expr="//div[hasclass('settings')]" position="inside">
                <div class="app_settings_block" data-string="SAL" string="SAL" data-key="netfarm_sal_12" groups="netfarm_sal_12.group_netfarm_sal_manager">
                    <h2>SAL</h2>
                    <div class="row mt16 o_settings_container">
                        <group>
                            <field name="enabled_module_selection"/>
                            <field name="module_selection"/>
                        </group>
                    </div>

                </div>
            </xpath>
        </field>
    </record>

    <record id="sal_config_settings_action" model="ir.actions.act_window">
        <field name="name">SAL</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">res.config.settings</field>
        <field name="view_id" ref="res_config_settings_view_form"/>
        <field name="view_mode">form</field>
        <field name="target">inline</field>
        <field name="context">{'module' : 'netfarm_sal_12'}</field>
    </record>

    <menuitem
        name="Settings"
        id="sal_settings_menu"
        parent="netfarm_sal_12.sal"
        sequence="99"
        action="sal_config_settings_action"
        groups="base.group_system"/>
</odoo>