

/* Put Background image on login page */
.container_login {
    background: #eee url(/hms_plus/static/body_bg.png);
    height: 100%;
}
.oe_login_form {

	margin-top: 4%;
        margin-left: 14%;
}



.form-control { 



	width :57%

}
img#logo_img 

{

    margin-top: 42%;
    width: 45%;
    padding-left: 10%;

}


