.o_user_menu  .dropdown-menu img,
.o_user_menu_mobile  .dropdown-item  img {
    height: 20px;
    margin: 2px;
}

.oe_form_configuration  {
  .o_settings_container {
    span  {
      display:inline-block;
    }
  }
}

// Colors replace to ent
//$o-community-color: #875A7B;


// Customize
.dropdown-item[data-menu="documentation_dev"]{
  display:none !important;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
.app-sidebar-menu li.nav-item a ,.o_menu_apps .dropdown-item.o_app{
  font-family: 'Quicksand', sans-serif;
}

// .oe_title .o_required_modifier.o_input, .oe_title .o_required_modifier .o_input {
//   background-color: red !important;
// }
