

/* Put Background image on login page */
.container_login {
    background: #eee url(/hms_plus/static/body_bg.png);
    height: 100%;
}
.oe_login_form {

	margin-top: 4%;
        margin-left: 0%;
}



.form-control { 



	width :57%

}
img#logo_img 

{

    margin-top: 42%;
    width: 45%;
    padding-left: 10%;

}
.labtestcls{
    font-size: 16px !important; 
    padding-bottom: 23px !important;
    margin-left: 3px !important;
    color: #3acd46;
    font-weight: bold !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    right: auto !important;
    padding-right: 0px;
    padding-left: 0px
}

